<div class="header">
  <div class="title">Datos Universitarios</div>
</div>

<div class="our-info">
  Hii !!
</div>
<div class="footer">
  <div class="footer-image"><%= image_tag("ruby_image.png") %></div>
</div>