<div class="header">
  <div class="title">Datos Universitarios</div>
</div>

<div class="about-us-title">Team</div>
<div class="our-info">

	<div class="our-info-left">
		  <div class="user-info">
		  	<div class="user-info-image"><%= image_tag("marcos_image.jpg") %></div>
		  	  <div class="user-info-text">
			  	<div class="user-info-name">Marcos Vanetta</div>
			  	<div class="user-info-description">Ingeniero Biomédico</div>
			  </div>
		  </div>
		  <div class="clear"></div>
	</div>


	  <div class="our-info-right">
		  <div class="user-info-right">
		  	<div class="user-info-image-right"><%= image_tag("alejandro_image.png") %></div>
		  	  <div class="user-info-text">
			  	<div class="user-info-name">Alejandro Alvarez</div>
			  	<div class="user-info-description-right">Estudiante de Ingeniería en Informática</div>
			  </div>
		  </div>
		  <div class="clear"></div>
	  </div>


	  
	<div class="our-info-down">
		  <div class="user-info-down">
		  	
		  	  <div class="user-info-text-down">
			  	<div class="user-info-name">Lucas Minissale</div>
			  	<div class="user-info-description">Licenciado en Informática</div>
			  </div>
			<div class="user-info-image-down"><%= image_tag("lucas_image.jpg") %></div>  
		  </div>
		  <div class="clear"></div>
	</div>
	  

</div>
<div class="footer">
  <div class="footer-image"><%#= image_tag("ruby_image.png") %></div>
</div>