<p id="notice"><%= notice %></p>

<p>
  <b>University name:</b>
  <%= @university_search.university_name %>
</p>


<%= link_to 'Edit', edit_university_search_path(@university_search) %> |
<%= link_to 'Back', university_searches_path %>
