.clear{
	clear: both;
}

.wrapped{
    background: url("/assets/show_bg.png") repeat scroll 0 0 transparent;
    height: 500px;
    padding: 75px;
	padding-top: 50px;
}

.wrapped .show-form{
	margin-bottom:10px;
}

.container{
	background: white;
	padding: 20px;
	height: 500px;
	border-radius: 30px 30px 30px 30px;
}

.container .top .map{
	float: right;
}

.container .top .main-info{
	float: left;
}
.container .top .main-info .university-name{
    background: none repeat scroll 0 0 #F4F3F0;
    border: 1px solid #F4F3F0;
    border-radius: 30px 30px 30px 30px;
    font-size: 15px;
    font-weight: bold;
    min-height: 34px;
    margin-bottom: 10px;
    text-align: center;
}
.container .top .main-info .university-address{
	border: 1px solid #F4F3F0;
	background: #F4F3F0;
    border-radius: 30px 30px 30px 30px;
    font-size: 15px;
    font-weight: bold;
    min-height: 34px;
    margin-bottom: 10px;
    text-align: center;
}
.container .top .main-info span{
	display:block;
	margin:8px;
}

