.clear{
	clear: both;
}

.wrapped{
    background: url("/assets/show_bg.png") repeat scroll 0 0 transparent;
    padding: 75px;
	padding-top: 50px;
}

.wrapped .show-form{
	margin-bottom:10px;
}

.container{
	background: white;
	padding: 20px;
	border-radius: 30px 30px 30px 30px;
}

.container .top .map{
	float: right;
	margin-left: 20px;
}

.container .top .main-info{
	float: left;
}
.container .top .main-info .university-name{
   background: none repeat scroll 0 0 #F4F3F0;
    border: 1px solid #F4F3F0;
    border-radius: 30px 30px 30px 30px;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 30px;
    min-height: 34px;
    text-align: center;
    width: 455px;
}
.container .top .main-info .university-address{
    font-size: 15px;
    font-weight: bold;
}
.container .top .main-info span{
	display:block;
	margin:8px;
}

